<html>

<head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/home.css' />
    <link rel='stylesheet' href='/stylesheets/addnewcategory.css' />
    <link rel='stylesheet' href='/stylesheets/viewallcategory.css'>
<style>
    #msg_content{
    position: relative;
    left: 40%;
    top:20px;
    background-color: white;
    color:green;
    width: 24%;
    padding: 8px;
    border: 2px double green;
    border-radius: 5px;
}

</style>    
</head>

<body>

    <div id="navigation">
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="#">Password Category</a>
                <ul>
                    <li><a href="/addnewcategory">Add New Category</a> </li>
                    <li><a href="/viewallcategory">View All Category</a> </li>
                </ul>

            </li>
            <li><a href="#">Password Details</a>
                <ul>
                    <li><a href="/addnewpassword">Add New Password</a> </li>
                    <li><a href="/viewallpassword">View All Password </a> </li>

                </ul>

            </li>
        </ul>

        <span>
            <form method="POST" action="/logout"><input type="submit" class="ubtn" value="Logout"> </form>
        </span>
        <img src="/images/meta-og-image.png">

    </div>


    <div id="dashboad-container">



        <div id="div1">
            <h2> Add New Password Category</h2>
            <% if(errors !=''){ %>
                    <div id="validate">
                        <%= errors.txtcategoryname.msg %>
                    </div>
            <% } %>
            <% if(msg !=''){ %>
                <div id="msg_content">
                    <%= msg %>
                </div>
            <% } %>
       
            <form method="POST" action="/addnewcategory">
                <table id="table-content">
                    <tr>
                        <td align="right">Category Name: </td>
                        <td align="left"><input type="text" class="txt" placeholder="Enter Category name" name="txtcategoryname" autocomplete="off" required><br>

                        </td>

                    </tr>
                    <tr>
                        <td colspan="2"><input type="submit" class="ubtn uvbtn" value="Add category"></td>
                    </tr>

                </table>
            </form>
        </div>
    </div>



    <script src="/javascripts/home.js"></script>
</body>

</html>