<html>

<head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/home.css' />
    <link rel='stylesheet' href='/stylesheets/addnewcategory.css' />

    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/ckeditor/ckeditor.js"></script>    
</head>

<body>

    <div id="navigation">
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="#">Password Category</a>
                <ul>
                    <li><a href="/addnewcategory">Add New Category</a> </li>
                    <li><a href="/viewallcategory">View All Category</a> </li>
                </ul>

            </li>
            <li><a href="#">Password Details</a>
                <ul>
                    <li><a href="/addnewpassword">Add New Password</a> </li>
                    <li><a href="/viewallpassword">View All Password </a> </li>

                </ul>

            </li>
        </ul>

        <span><form method="POST" action="/logout"><input type="submit" class="ubtn" value="Logout"> </form></span>
        <img src="/images/meta-og-image.png">

    </div>


    <div id="dashboad-container" style="height:570px">

        <div id="div1">
            <% if(msg !=''){ %>
                <div id="msg_content">
                    <%= msg %>
                </div>
            <% } %>
       
            <h2>Add new password</h2>
            <form method="POST" action="/addnewpassword">
                <table id="table-content">
                    <tr>
                        <td>password category: </td>
                        <td><div id="select-category"><select name="category_dropdown">
                            <% if(records.length > 0) {%>
                                <% records.forEach(function(row){ %>

                                    <option><%= row.category_name %></option>


                                    <% }) %>
                                <% }else{ %>
                                    <option value="">category Not Found</option>
                                    <% } %>
                            </select></div></td>

                    </tr>
                    <tr><td>
                        Password Details
                    </td><td align="left"><textarea name="cate_details" class="editor1" cols=30 rows=5 required></textarea></td></tr>

                    <tr>
                        <td colspan="2"><input type="submit" class="ubtn" value="Add Password"></td>
                    </tr>

                </table>
            </form>
        </div>
    </div>



    <script src="/javascripts/home.js"></script>
    <script>
        CKEDITOR.replace('cate_details');
   </script>
</body>

</html>