<html>

<head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/home.css' />
    <link rel='stylesheet' href='/stylesheets/addnewcategory.css' />
    <script src="/javascripts/ckeditor/ckeditor.js"></script>    
    <script src="/javascripts/jquery.js"></script>
</head>

<body>

    <div id="navigation">
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="#">Password Category</a>
                <ul>
                    <li><a href="/addnewcategory">Add New Category</a> </li>
                    <li><a href="/viewallcategory">View All Category</a> </li>
                </ul>

            </li>
            <li><a href="#">Password Details</a>
                <ul>
                    <li><a href="/addnewpassword">Add New Password</a> </li>
                    <li><a href="/viewallpassword">View All Password </a> </li>

                </ul>

            </li>
        </ul>

        <span><form method="POST" action="/logout"><input type="submit" class="ubtn" value="Logout"> </form></span>
        <img src="/images/meta-og-image.png">

    </div>


    <div id="dashboad-container">

        <div id="div1">
            <h2>update password Details</h2>
            <form method="POST" action="/viewallpassword">
                <table id="table-content">
                    <tr>
                        <td>password category: </td>
                        <td><div id="select-category"><select name="cate_ddl">
                            <% if(records.length >0){ %>
                                <%records.forEach(function(rows){%>
                                    <% if(rows.category_name==pass_detail.category_name) {%>
                            <option selected><%=rows.category_name%></option>
                            <%}else{%>
                                <option><%=rows.category_name%></option>
                                <%}%>
                            <%})%>
                        <%}else{%>
                            <option>Category not Found</option>
                            <%}%>
                        </select></div></td>


                    </tr>
                    <tr><td>
                        Password Details
                    </td><td align="left"><textarea class="txtarea" name="txtpassdetail"  cols=30 rows=5><%=pass_detail.password_details%></textarea></td></tr>

                    <tr>
                      <td colspan="2"><input type="submit" class="ubtn" value="Update Details">&nbsp;&nbsp;&nbsp;<input type="button" value="cancel" class="ubtn" id="canceldet"></td>
                      <input type="hidden" name="id" value="<%= pass_detail._id %>">
                    </tr>

                </table>
            </form>
        </div>
    </div>



    <script src="/javascripts/home.js"></script>
    <script>
        CKEDITOR.replace('txtpassdetail');
   </script>
</body>

</html>