<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<style>
  .qmark{
  position: relative;
  left: 30px;
  height: 23px;
  width: 23px;
  top: 4px;
  }
</style>

<body>
  <% if(msg!='') {%>
  <div class="msg" >
    <span class="msgcontent"><strong><%= msg %></strong></span>
  </div>
  <% } %>
  <div id="banner"></div>
  <div id="heading">
    <h1><img src="/images/meta-og-image.png"><%= title %></h1>
  </div>
  <div id="login-section">
    <h2 style="font-size: 30px;">forgot Password</h2>
    <div id="login-content">
<form method="POST" action="/forgotp">
      <div class="textbox">
        <img src="/images/icons8-user-male-30.png">
        <input type="text" class="txt" placeholder="Username" name="txtfuser" autocomplete="off" required>
      </div>
      <div class="textbox">
        <img src="/images/envelope-closed-32.png">
        <input type="email" class="txt" placeholder="Email" name="txtfemail" autocomplete="off" required>
      </div>
        
          <div class="textbox">
            <img src="/images/key-6-64.png">
            <input type="password" class="txt" placeholder="Security Answer" name="txtfsecure" required>
            <a href="#"> <img class="qmark" src="/images/question-mark-48.png" onclick="alert('                                       Security Questions\n                                 =================\n Q1)What are the last five digits of your driving license number?\nQ2)What was your childhood nickname?\nQ3)What is the name of the first school you attended?')"> </a></div>

           </div>

           <div class="textbox">
            <img src="/images/icons8-lock-26.png">
            <input type="password" class="txt" placeholder="New Password" name="txtfpass" required>
        </div>
        <div class="textbox">
        
            <input type="password" id="cp" class="txt" placeholder="Confirm Password" name="txtfcpass" required>
          </div>
      <input type="submit" value="Submit" id="sbtn"></td>
</form>
      <span>login to your account?&nbsp;&nbsp;&nbsp;<a href="/">sign in</a></span>
    </div>
 
  </div>



</body>

</html>