
#table-content tbody td{
    font-size: 15px;
}

.viewdetail{
    height: 25px;
    width: 25px;
}

.viewdetail img{
    position: absolute;
    height: 25px;
    width: 25px;
    top:35px;
    left: 482px;
} 